nav {
  align-self: flex-start;
  justify-self: flex-start;
  height: 70px;
  width: 100%;
  background-color: rgb(57, 57, 226);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

nav a {
  line-height: 50px;
  height: 100%;
  width: 200px;
  font-size: 20px;
  font-weight: 800;
  padding-top: 8px;
  border-radius: 5px;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav a:hover {
  background-color: rgb(233, 234, 236);
  font-weight: 900;
  color: rgb(57, 57, 226);
}

nav p {
  margin: 10px 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

nav p span {
  padding-left: 10px;
}


nav .links {
  min-width: 50%;
}